html {
  user-select: none;
  background-color: rgb(250, 250, 250);
  padding-top: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 1000px;
  margin-bottom: 20px;
}
body {
  margin-left: 14%;
}
* {
  margin: 0px;
  padding: 0px;
}

.top {
  width: 100%;
  height: 50px;
  background-color: #121927;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 1px gray;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav img {
  margin: 8px 8px 2px 8px;
}

.title-side-left {
  display: flex;
  align-items: center;
}

.SIET {
  color: #32d583;
  font-size: 30px;
}

.opptions {
  margin-left: 10%;
  width: 450px;
  display: flex;
}
.opptions button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  padding: 16px;
  a {
    text-decoration: none;
    color: white;
  }
}
.opptions button:hover {
  background-color: #32d5835e;
  transition: all 0.15s;
}
.opptions a:nth-child(2) {
  border: 3px solid #32d583;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.space {
  flex: 1;
}

.search {
  display: flex;
  justify-content: right;
  gap: 3px;
  margin-right: 8px;
}
.search form input {
  height: 25px;
  width: 85%;
  padding: 0px 0px 0px 10px;
  border: 2px solid gray;
  border-right: 0px;
  border-radius: 3px 0px 0px 3px;
  outline: none;
}
.search form input:focus {
  border: 2px solid #32d583;
  border-right: 0px;
}
.search form input:focus + button {
  border: 2px solid #32d583;
  border-left: 0px;
}
.search form button {
  height: 25px;
  width: 15%;
  float: right;
  border: 2px solid gray;
  border-left: 0px;
  background-color: #ffffff;
  border-radius: 0px 3px 3px 0px;
}
.search button {
  background-color: #ffffff;
  border: 2px solid gray;
  border-radius: 3px;
}
.menu {
  width: 30px;
  height: 25px;
  cursor: pointer;
  padding: 2px;
  display: none;
}
.side-bar {
  z-index: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: fixed;
  top: 51px;
  right: 0;
  background-color: #121927c2;
  height: 200px;
  padding: 20px;
  backdrop-filter: blur(5px);
  border-radius: 0px 0px 0px 20px;
  button {
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  button:hover {
    background-color: #32d5835e;
  }
  button.menu {
    margin: 0px;
    width: auto;
    width: 20px;
  }
  display: none;
}
.cancel {
  display: none;
}
.atttendance-sidebar {
  position: fixed;
  top: 50px;
  left: 0px;
  height: 100%;
  background-color: #121927;
  padding: 10px;
  width: 12%;
  button {
    display: block;
    width: 100%;
    height: 35px;
    margin: 15px 0px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  button:first-child {
    background-color: #32d5835e;
  }
  :hover {
    background-color: #ffffff27;
  }
}

.std-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin: 10px;
  padding: 0px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px gray;

  form {
    display: inline;
  }
  .button {
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 12px;
    margin: 12px;
    cursor: pointer;
    border-radius: 8px;
  }
  .button01 {
    background-color: #32d583;
  }
  .button02 {
    background-color: #f44336;
  }
  .button.disabled{
    background-color: #a0a5a359;
    color: #121927;
  }
}

.students-ITA {
  padding: 20px;
}

.day-period {
  margin: 20px auto auto 30px;
}
